.carousel_image1 {
background-image: url('./B9A3-Hockeys-main/Images/1.png');
}

.carousel_image2{
    background-image: url('./B9A3-Hockeys-main/Images/hockey-banner2.jpg');
}

.carousel_image3{
    background-image: url('./B9A3-Hockeys-main/Images/hokey-banner.avif');
}